:root {
    --light-bg-color: #F3F3F3;
    --light-font-color: rgb(116, 129, 130);
    --font-family-Poppins: 'Poppins', sans-serif;
    --font-family-Montserrat: var(--font-family-Montserrat);
}

.body {
    margin: 0;
}

.nav-home {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav-item-underline {
    /* width:80%; */
    width: 0;
    background-color: #1c1c1c;
    height: 2px;
    position: absolute;
    opacity: 0;
}

.navbar-nav .nav-link.active .nav-item-underline,
.navbar-nav .nav-link.show .nav-item-underline {
    opacity: 1;
    width: 80%;
    transition: 0.8s;
}

.nav-home.scrolled {
    background-color: white;
}

.navbar-brand {
    margin-left: 50px;
    font-family: var(--font-family-Montserrat);
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
}

.navbar-nav {
    margin-left: auto;

}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    font-family: var(--font-family-Poppins);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(34, 34, 34);
    position: relative;
}

#home {
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.hello-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hello-home-content h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    font-family: var(--font-family-Montserrat);
}

.hello-home-content h2 {
    font-size: 60px;
    font-weight: 200;
    line-height: 72px;
    font-family: var(--font-family-Montserrat);
}

.hello-home-content h2::after {
    content: '';
    font-family: var(--font-family-Montserrat);
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    animation: typing 10s steps(10) infinite alternate;
}

@keyframes typing {
    0% {
        content: "De|";
    }

    5% {
        content: "Deve|";
    }

    10% {
        content: "Develo|";
    }

    15% {
        content: "Developer|";
    }

    20% {
        content: "Develo|";
    }

    25% {
        content: "Deve|";
    }

    30% {
        content: "De|";
    }

    35% {
        content: "|";
    }

    40% {
        content: "De|";
    }

    45% {
        content: "Desi|";
    }

    50% {
        content: "Design|";
    }

    55% {
        content: "Designer|";
    }

    60% {
        content: "Design|";
    }

    65% {
        content: "Desi|";
    }

    70% {
        content: "De|";
    }

    75% {
        content: "|";
    }

    80% {
        content: "Me|";
    }

    85% {
        content: "Menn|";
    }

    90% {
        content: "Menna A|";
    }

    95% {
        content: "Menna Aym|";
    }

    100% {
        content: "Menna Ayman|";
    }
}

.social-media-icons {
    width: 16%;
}

.social-media-icons i {
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bars {
    margin-top: 15px;
    width: 95%;
}


.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.progress-bars {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}

.hero-img {
    transform: translateX(22%);
    position: relative;
}

.hero-img::after {
    content: "";
    width: 70%;
    height: 75%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

#about img {
    width: 80%;
    height: 80%;
    margin-top: 50px;
    margin-right: auto;
}

.about-me-h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 33px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
}

.about-me-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font-family-Poppins);
    color: rgb(153, 153, 153);
}

.about-me-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-family-Poppins);
    color: var(--light-font-color);
}

.progress-bar p {
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    font-family: var(--font-family-Montserrat);
    color: white;
    padding: 5px;
}

.cv-btn {
    background-color: black;
    color: white;
}

.about-btns .cv-btn:hover {
    background-color: white !important;
    color: black !important;
}

.about-btns .contact-btn:hover {
    background-color: black !important;

}

.about-btns .contact-btn:hover a {
    color: white !important;
}

#works {
    background-color: white;

}

#services {
    background-color: var(--light-bg-color);
    padding-bottom: 50px;
}

.header-title {
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
    position: relative;
    z-index: 1;
}

.header-title::after {
    content: '';
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
}

.service-box {
    padding: 35px;
    border: 15px solid var(--light-bg-color);
    border-radius: 20px;

}

.service-box:hover i {
    background-color: black !important;
    color: white;
    transition: 0.8s;
}

#services i {
    padding: 20px;
    border-radius: 50%;
    background-color: var(--light-bg-color);
    margin-bottom: 20px;
    font-size: 25px;
}

#services h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
}

.service-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: var(--font-family-Poppins);
    color: var(--light-font-color);
}

.carousel-inner img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.carousel-inner {
    padding: 50px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #d6d6d6;
}

.carousel-inner p {
    font-family: var(--font-family-Poppins);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--light-font-color);
}

.carousel-inner h5 {
    font-family: var(--font-family-Montserrat);
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: rgb(52, 52, 52);
}

.carousel-inner h6 {
    font-family: var(--font-family-Poppins);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: rgb(136, 136, 136);
}

#contact {
    background-color: white;
}

#team {
    background-color: var(--light-bg-color);
}

#team .header-title {
    margin-bottom: 50px;
}

.card {
    border: none;
    margin-bottom: 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#works .card {
    border: none;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.7s ease;
}

.img-container {
    overflow: hidden;
    position: relative;
}

.img-social-layer {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
    opacity: 0;
}

.img-works-layer {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
}

.img-works-layer h6 {
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 13px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
    transform: translateY(-140px);
    transition: 0.5s;

}

.nav {
    --bs-nav-link-hover-color: none;
}

.nav-pills .nav-link {
    display: inline-block;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    color: black;
}

.nav-pills .nav-item .nav-link.active .nav-item-underline {
    opacity: 1;
    width: 70%;
    transition: 0.8s;
}

.card:hover .img-social-layer {
    transform: rotateY(360deg);
    opacity: 1;
}

#works .img-container:hover .img-works-layer {
    opacity: 1;
}

#works .img-container:hover .img-works-layer li {
    transform: translateY(-160px);
}


#works .img-container:hover .img-works-layer h6 {
    transform: translateY(0.5px);
}

.img-social-layer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-works-layer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(160px);
}

.img-social-layer li {
    list-style: none;
    margin: 0 10px;
}

.img-works-layer li {
    list-style: none;
    margin: 0 3px;
    transition: 0.5s;
}

.img-social-layer i {
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

.img-works-layer i {
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

.img-social-layer i:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}


.img-works-layer i:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}


.card-img-top:hover {
    transform: scale(1.2);
}

.card-body {
    background-color: #5b5b5b;
    padding: 30px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.card-body h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--font-family-Montserrat);
    color: white;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    font-family: var(--font-family-Poppins);
    color: white;
}

#clients {
    background-color: #F7F7F7;
}

.testimonial {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.clients-stat {
    padding: 80px 0;
}

.clients-stat i {
    font-size: 30px;
    color: rgb(52, 52, 52);
    padding: 0 0 20px 0;
}

.clients-stat h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 33px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
}

.clients-stat h6 {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    font-family: var(--font-family-Poppins);
    color: var(--light-font-color);
}

#contact i {
    font-size: 25px;
    color: rgb(52, 52, 52);
    margin: 0 30px 10px 30px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 50%;
}

#contact h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    font-family: var(--font-family-Montserrat);
    color: rgb(52, 52, 52);
}

#contact p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--font-family-Poppins);
    color: rgb(116, 129, 130);
}


#contact .contact-info {
    width: 95%;
    margin: 0 auto;
}

#contact .contact-card:hover i {
    background-color: black;
    color: white;
    transition: 0.7s ease;
}

form {
    width: 90%;
    margin: 50px auto;
}

#contact input,
#contact textarea {
    background-color: #f4f4f4;
    border: none;

}

#contact button {
    font-family: var(--font-family-Poppins);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    width: 105px;
}

#contact button:hover {
    background-color: white;
    color: black;
    border: #000 1px solid;
    transition: 0.5s ease;
}

footer {
    background-color: #1c1c1c;
    padding: 30px 0;
}

footer p {
    font-family: var(--font-family-Poppins);
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(116, 129, 130);
    margin: auto;
}